<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <div class="card shadow-sm edit-listing-card">
            <div class="card-body p-5">
                <h2 class="mb-4 text-center text-primary fw-bold">Create a New Listing</h2>
                <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">

                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" id="title" class="form-control" name="listing[title]" required>
                        <div class="invalid-feedback">
                            Please provide a valid Title.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea id="description" class="form-control" name="listing[description]" rows="3" required></textarea>
                        <div class="invalid-feedback">
                            Please provide a valid Description.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Image</label>
                        <input type="file" id="image" class="form-control" name="listing[image]" required>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" id="price" class="form-control" name="listing[price]" required>
                            <div class="invalid-feedback">
                                Please provide a valid Price.
                            </div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" id="country" class="form-control" name="listing[country]" required>
                            <div class="invalid-feedback">
                                Please provide a valid Country.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" id="location" class="form-control" name="listing[location]" required>
                        <div class="invalid-feedback">
                            Please provide a valid Location.
                        </div>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-primary btn-lg fw-bold">Add Listing</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>